{% extends 'base.html' %} 
{% block title %}spencyclopellia{% endblock %}

<!-- css -->
{% block style %}
<style>
    .fontIndex{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 17px;
        margin-top: 30px;
        color: #a0d8ef;
    }

    #cover{
        background-color: #fff;
        height: 100vh;
    }
    .title{
        position: relative;
        background: #a0d8ef;
        height: 100vh;
        display: flex;
        align-items: center;
        color: #595857;
    }
    .title h1{
        margin: 0 auto;
        font-size: 50px;
    }
    canvas{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
    }
    
    #index{
        background-color: #303967;
        color: #fff;
        padding: 0px 60px 100px;
    }
    #index button{
        margin: 5px 3px;
    }
    .alphabet{
        text-align: center;
    }
    .topic{
        padding: 20px;
    }
    .spell button{
        margin: 5px 3px;
    }
    .name{
        padding: 20px;
        font-size: 120%;
        font-weight: bold;
        color: #303967;
        background: #a0d8ef;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .example{
        padding: 20px;
        border: solid 2px #a0d8ef;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .reference {
        padding: 0 20px 50px;
    }
    .reference a{
        color: #fff;
    }

</style>
{% endblock style %}


<!-- html -->
{% block content %}
<div id="main">

    <div id="cover">
        <div class="title">
            <h1 class="fontAccent">spencyclopellia<br><br><br></h1>
        </div>
        <div class="wave">
            <canvas id="waveCanvas"></canvas>
        </div>
    </div>

    <div id="index">
        <div class="alphabet">
            <p class="fontAccent colorNav">A | B | C | D | E | F | G | H | I | J | K | L | M | N | O | P | Q | R | S | T | U | V | W | X | Y | Z</p>
        </div>
        <p><br></p>
        <div class="category">
            {% for category in category_list %}
                <button type="button" id="category_{{category.id}}" class="categoryList btn btn-outline-light"><i class="bi bi-caret-down-fill"></i> {{category.name}}</button>
                <div class="topic category_{{category.id}} categoryDetail">
                    {% for spell in category.spell_set.all %}
                        <div class="spell">
                            <button type="button" id="spell_{{spell.id}}" class="spellList btn btn-outline-light"><i class="bi bi-caret-down"></i> {{spell.forwhat}}</button>
                            <button type="button" class="btn btn-secondary" onclick="location.href='/{{spell.language_name}}'"><i class="bi bi-caret-right-fill"></i> {{spell.language_name}}</button><br>
                            <div class="spell_{{spell.id}} spellDetail">
                                <p></p>
                                <button type="button" class="btn btn-light" onclick="window.open('{{spell.library_hp}}')"><i class="bi bi-magic"></i> <span style="font-weight:bold;">{{spell.library_name}}</span></button>
                                <button type="button" class="btn btn-secondary" onclick="window.open('{{spell.library_github}}')"><i class="bi bi-github"></i></button>
                                <div class="name">
                                    {{spell.name | linebreaksbr  }}
                                </div>
                                <p>　- {{spell.forwhat}}<br>　- {{spell.forwhat_ja}}</p>
                                <p class="fontIndex">Example:</p>
                                <div class="example">
                                    <code style="color:#fff;">{{spell.example_in | linebreaksbr  }}</code>
                                    <br><br>
                                    <p>>></p>
                                    <code style="color:#fff;">{{spell.example_out | linebreaksbr  }}</code>
                                </div>
                                <p class="fontIndex">Reference:</p>
                                <div class="reference">{{spell.reference | linebreaksbr | urlize}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <p><br></p>
        <div class="language">
            {% for language in language_list %}
                <button type="button" class="btn btn-secondary" onclick="location.href='/{{language.name}}'"><i class="bi bi-caret-right-fill"></i> {{language.name}}</button>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


<!-- js -->
{% block script %}

<script>
    $(function(){
        $('.categoryDetail').hide();
        $('.categoryList').on('click', function(){
            $('.categoryDetail').not($('.'+$(this).attr('id'))).hide();
            $('.'+$(this).attr('id')).show();

            $('.spellDetail').hide();
            $('.spellList').on('click', function(){
                $('.spellDetail').not($('.'+$(this).attr('id'))).hide();
                $('.'+$(this).attr('id')).show();
            });
        });
    });
</script>

{% endblock script %}