{% extends 'base.html' %} 
{% block title %}python - spencyclopellia{% endblock %}

<!-- css -->
{% block style %}
<style>
    #cover{
        background-color: #f8e58c;
        height: 250px;
        position:relative;
    }

    canvas{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
    }
    
    .fontIndex{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 17px;
        margin-top: 30px;
        color: #f8e58c;
    }
    #index{
        background-color: #303967;
        color: #fff;
        padding: 0px 60px 100px;
    }
    #index button{
        margin: 5px 3px;
    }
    .alphabet{
        text-align: center;
    }
    .spellDetail{
        padding: 10px 20px;
    }
    .spell button{
        margin: 5px 3px;
    }
    .name{
        padding: 20px;
        font-size: 120%;
        font-weight: bold;
        color: #303967;
        background: #f8e58c;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .example{
        padding: 20px;
        border: solid 2px #f8e58c;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .reference {
        padding: 0 20px 50px;
    }
    .reference a{
        color: #fff;
    }
</style>
{% endblock style %}


<!-- html -->
{% block content %}
<div id="main">

    <div id="cover">
        <div class="wave">
            <canvas id="waveCanvas"></canvas>
        </div>
    </div>

    <div id="index">
        <div class="alphabet">
            <p class="fontAccent colorNav">Python</p>
        </div>
        <p><br></p>
        <div class="spell">
            {% for spell in spell_list %}
                <button type="button" id="spell_{{spell.id}}" class="spellList btn btn-outline-light"><i class="bi bi-caret-right"></i> {{spell.forwhat}}</button>
                <div class="spell_{{spell.id}} spellDetail">
                    <p></p>
                    <button type="button" class="btn btn-light" onclick="window.open('{{spell.library_hp}}')"><i class="bi bi-magic"></i> <span style="font-weight:bold;">{{spell.library_name}}</span></button>
                    <button type="button" class="btn btn-secondary" onclick="window.open('{{spell.library_github}}')"><i class="bi bi-github"></i></button>
                    <div class="name">
                        {{spell.name | linebreaksbr  }}
                    </div>
                    <p>　- {{spell.forwhat}}<br>　- {{spell.forwhat_ja}}</p>
                    <p class="fontIndex">Example:</p>
                    <div class="example">
                        <code style="color:#fff;">{{spell.example_in | linebreaksbr  }}</code>
                        <br><br>
                        <p>>></p>
                        <code style="color:#fff;">{{spell.example_out | linebreaksbr  }}</code>
                    </div>
                    <p class="fontIndex">Reference:</p>
                    <div class="reference">{{spell.reference | linebreaksbr | urlize}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


<!-- js -->
{% block script %}

<script>
    $(function(){
        $('.spellDetail').hide();
        $('.spellList').on('click', function(){
            $('.spellDetail').not($('.'+$(this).attr('id'))).hide();
            $('.'+$(this).attr('id')).show();
        });
    });
</script>

<!-- wave -->
<script>
    var unit = 100,
    canvasList, // キャンバスの配列
    info = {}, // 全キャンバス共通の描画情報
    colorList; // 各キャンバスの色情報

/**
 * Init function.
 * 
 * Initialize variables and begin the animation.
 */
function init() {
    info.seconds = 0;
    info.t = 0;
		canvasList = [];
    colorList = [];
    // canvas1個めの色指定
    canvasList.push(document.getElementById("waveCanvas"));
    colorList.push(['#303967', '#303967', '#303967']);//重ねる波の色設定
	// 各キャンバスの初期化
for(var canvasIndex in canvasList) {
        var canvas = canvasList[canvasIndex];
        canvas.width = document.documentElement.clientWidth; //Canvasのwidthをウィンドウの幅に合わせる
        canvas.height = 300;//波の高さ
        canvas.contextCache = canvas.getContext("2d");
    }
    // 共通の更新処理呼び出し
		update();
}

function update() {
		for(var canvasIndex in canvasList) {
        var canvas = canvasList[canvasIndex];
        // 各キャンバスの描画
        draw(canvas, colorList[canvasIndex]);
    }
    // 共通の描画情報の更新
    info.seconds = info.seconds + .014;
    info.t = info.seconds*Math.PI;
    // 自身の再起呼び出し
    setTimeout(update, 35);
}

/**
 * Draw animation function.
 * 
 * This function draws one frame of the animation, waits 20ms, and then calls
 * itself again.
 */
function draw(canvas, color) {
		// 対象のcanvasのコンテキストを取得
    var context = canvas.contextCache;
    // キャンバスの描画をクリア
    context.clearRect(0, 0, canvas.width, canvas.height);

    //波の重なりを描画 drawWave(canvas, color[数字（波の数を0から数えて指定）], 透過, 波の幅のzoom,波の開始位置の遅れ )
    drawWave(canvas, color[0], 0.4, 3, 0);//0.5⇒透過具合50%、3⇒数字が大きいほど波がなだらか
    drawWave(canvas, color[1], 0.7, 2.1, 300);
    drawWave(canvas, color[2], 1, 1.3, 100);
}

/**
* 波を描画
* drawWave(色, 不透明度, 波の幅のzoom, 波の開始位置の遅れ)
*/
function drawWave(canvas, color, alpha, zoom, delay) {
		var context = canvas.contextCache;
    context.fillStyle = color;//塗りの色
    context.globalAlpha = alpha;
    context.beginPath(); //パスの開始
    drawSine(canvas, info.t / 0.5, zoom, delay);
    context.lineTo(canvas.width + 10, canvas.height); //パスをCanvasの右下へ
    context.lineTo(0, canvas.height); //パスをCanvasの左下へ
    context.closePath() //パスを閉じる
    context.fill(); //波を塗りつぶす
}

/**
 * Function to draw sine
 * 
 * The sine curve is drawn in 10px segments starting at the origin. 
 * drawSine(時間, 波の幅のzoom, 波の開始位置の遅れ)
 */
function drawSine(canvas, t, zoom, delay) {
    var xAxis = Math.floor(canvas.height/2);
    var yAxis = 0;
    var context = canvas.contextCache;
    // Set the initial x and y, starting at 0,0 and translating to the origin on
    // the canvas.
    var x = t; //時間を横の位置とする
    var y = Math.sin(x)/zoom;
    context.moveTo(yAxis, unit*y+xAxis); //スタート位置にパスを置く

    // Loop to draw segments (横幅の分、波を描画)
    for (i = yAxis; i <= canvas.width + 10; i += 10) {
        x = t+(-yAxis+i)/unit/zoom;
        y = Math.sin(x - delay)/3;
        context.lineTo(i, unit*y+xAxis);
    }
}

init();
</script>

{% endblock script %}