{% extends 'base.html' %} 
{% block title %}python - spencyclopellia{% endblock %}

<!-- css -->
{% block style %}
<style>
    #cover{
        background-color: #abced8;
        height: 250px;
        position:relative;
    }

    canvas{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
    }
    
    .fontIndex{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 17px;
        margin-top: 30px;
        color: #abced8;
    }
    #index{
        background-color: #303967;
        color: #fff;
        padding: 0px 60px 100px;
    }
    #index button{
        margin: 10px 3px;
    }
    .alphabet{
        text-align: center;
    }
    .spellDetail{
        padding: 10px 20px;
    }
    .spell button{
        margin: 5px 3px;
        text-align: left;
    }
    .library button{
        margin: 5px 3px;
    }
    .name{
        padding: 20px;
        font-size: 120%;
        font-weight: bold;
        color: #303967;
        background: #abced8;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .example{
        padding: 20px;
        border: solid 2px #abced8;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .reference {
        padding: 0 20px 50px;
    }
    .reference a{
        color: #fff;
    }

    .memo{
        text-align: center;
    }
    .nameLanguage{
        padding: 0px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 50px;
    }
    .nameExt{
        font-family: 'Ubuntu', sans-serif;
        font-weight: none;
        margin-bottom: 30px;
    }
</style>
{% endblock style %}


<!-- html -->
{% block content %}
<div id="main">

    <div id="cover">
        <div class="wave">
            <canvas id="waveCanvas"></canvas>
        </div>
    </div>

    <div id="index">
        <div class="memo">
            {% for language in language_list %}
                <button type="button" class="btn btn-outline-secondary" onclick="javascript:history.go(-1);"><i class="bi bi-caret-left-fill"></i></button>
                <button type="button" class="btn btn-secondary" onclick="window.open('{{language.page_hp}}')"><i class="bi bi-house-fill"></i></button>
                <button type="button" class="btn btn-secondary" onclick="window.open('{{language.page_doc}}')"><i class="bi bi-book"></i></button>
                <button type="button" class="btn btn-secondary" onclick="window.open('{{language.page_download}}')"><i class="bi bi-cloud-download-fill"></i></button>
                <button type="button" class="btn btn-secondary" onclick="window.open('{{language.page_github}}')"><i class="bi bi-github"></i></button>
                <div class="nameLanguage">{{language.title}}</div>
                <div class="nameExt">file_name{{language.ext}}</div>
            {% endfor %}
        </div>

        <div class="library">
            {% for library in library_list %}
                <button type="button" id="library_{{library.id}}" class="spellList btn btn-light"><i class="bi bi-caret-down-fill"></i> {{library.name}}</button>
                <div class="library_{{library.id}} spellDetail">
                    <button type="button" class="btn btn-secondary" onclick="window.open('{{library.page_hp}}')"><i class="bi bi-house"></i> <span style="font-weight:bold;">{{spell.library_name}}</span></button>
                    <button type="button" class="btn btn-secondary" onclick="window.open('{{library.page_doc}}')"><i class="bi bi-book"></i></button>
                    <button type="button" class="btn btn-secondary" onclick="window.open('{{library.page_github}}')"><i class="bi bi-github"></i></button>
                    <p></p>
                    {% for spell in library.spell_set.all %}
                        <div class="name">
                            {{spell.name | linebreaksbr  }}
                        </div>
                        <p>　- {{spell.forwhat}}<br>　- {{spell.forwhat_ja}}</p>
                        <p class="fontIndex">Example:</p>
                        <div class="example">
                            <code style="color:#fff;">{{spell.example_in | linebreaksbr  }}</code>
                            <br><br>
                            <p>>></p>
                            <code style="color:#fff;">{{spell.example_out | linebreaksbr  }}</code>
                        </div>
                        <p class="fontIndex">Reference:</p>
                        <div class="reference">{{spell.reference | linebreaksbr | urlize}}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <p></p>
        
        <div class="spell">
            {% for spell in spell_list %}
                <button type="button" id="spell_{{spell.id}}" class="spellList btn btn-outline-light"><i class="bi bi-caret-down"></i> {{spell.forwhat}}</button><br>
                <div class="spell_{{spell.id}} spellDetail">
                    <button type="button" class="btn btn-light" onclick="window.open('{{spell.library_hp}}')"><i class="bi bi-magic"></i> <span style="font-weight:none;">{{spell.library_name}}</span></button>
                    <button type="button" class="btn btn-secondary" onclick="window.open('{{spell.library_github}}')"><i class="bi bi-github"></i></button>
                    <div class="name">
                        {{spell.name | linebreaksbr  }}
                    </div>
                    <p>　- {{spell.forwhat}}<br>　- {{spell.forwhat_ja}}</p>
                    <p class="fontIndex">Example:</p>
                    <div class="example">
                        <code style="color:#fff;">{{spell.example_in | linebreaksbr  }}</code>
                        <br><br>
                        <p>>></p>
                        <code style="color:#fff;">{{spell.example_out | linebreaksbr  }}</code>
                    </div>
                    <p class="fontIndex">Reference:</p>
                    <div class="reference">{{spell.reference | linebreaksbr | urlize}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


<!-- js -->
{% block script %}


{% endblock script %}